@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  background: linear-gradient(
    to bottom,
    rgba(215, 191, 255, 0.6) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.app {
  text-align: center;
  font-family: "Permanent Marker", cursive;
  min-height: 100vh;
  color: #1f1f1f;
}

#cassette-tape {
  /* center the tape */
  padding-top: 2em;
}

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
}
.letter:before,
.letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}
